*{
    box-sizing: border-box;
    color: white;
}

body{
    margin: 0;
}
footer{
    background-color: #333;
    display: flex;
    justify-content: space-around;
}
.complete-body{
    background-color: rgb(53, 53, 129);
}
.container{
    margin: 1rem;
    text-align: left;
    min-height: 90vh;
}
.nav{
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}
.portfolio-spread{    
    width: 80vh;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;

}
input, textarea, button{
    color: black;
    margin-bottom: 10px;
    width: 10%;
}
.form-container {
    display: flex;
    flex-direction: column;
}
  
.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.site-title {
    font-size: 2rem;
}
.nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}
.nav a{
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li.active {
    color: green;
}

.nav li:hover {
    background-color: #777;
}




  